<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间的作用有两个，1、是利用更长的全限定名来将不同的语句隔离开来，
            2、实现了你上面见到的接口绑定，体现该Mapper文件是为谁服务的 -->
<mapper namespace="com.mycode.community.dao.DiscussPostMapper">
    
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <!-- 该方法返回的是集合，集合里装DiscussPosts对象，由于List是java自带类型，所以可以检测到
            所以这里返回的类型应该是这个对象 -->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc  <!-- 按照类型，置顶贴排前，再按照发布时间，新贴排前 -->
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>
    
</mapper>